<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.co.gesangmultimedia.siapic">
    <permission
        android:name="id.co.gesangmultimedia.siapic.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="id.co.gesangmultimedia.siapic.BerandaSop" />
        <activity android:name="id.co.gesangmultimedia.siapic.ShowPdf" />
        <activity android:name="id.co.gesangmultimedia.siapic.TampilkanVideo" />
        <activity android:name="id.co.gesangmultimedia.siapic.LaporanBug" />
        <activity android:name="id.co.gesangmultimedia.siapic.Pengaturan" />
        <activity android:name="id.co.gesangmultimedia.siapic.About" />
        <activity android:name="id.co.gesangmultimedia.siapic.VideoPotensi" />
        <activity android:name="id.co.gesangmultimedia.siapic.CumstomInfoContent" />
        <activity android:name="id.co.gesangmultimedia.siapic.RtrwCilacap" />
        <activity android:name="id.co.gesangmultimedia.siapic.KawasanIndustri" />
        <activity android:name="id.co.gesangmultimedia.siapic.PotensiUmum" />
        <activity android:name="id.co.gesangmultimedia.siapic.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="id.co.gesangmultimedia.siapic.DataKecamatan" />
        <activity android:name="id.co.gesangmultimedia.siapic.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8683063272161709~6118474226" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>



</manifest>